**/*.mod.c
**/*.o*
**/*.ko*
**/*.cmd*
**/*.mod*
**/Module.symvers
**/modules.order
**/*.tmp_versions
linux-*
busybox-*
initramfs.cpio.gz
bzImage
fs/*
pwncollege_src/
**/kernel_key*
**/*.der
**/*.priv
.vscode
